* {
    padding: 0;
    margin: 0;
}

/* navbar */
nav {
    width: 100%;
    height: 10%;
    background-color: rgb(80, 130, 174);
    display: flex;
    align-items: baseline;
}

nav h1 {
    display: flex;
    justify-content: left;
    color: white;
}

nav div {
    display: flex;
    justify-content: right;
}

nav p {
    margin: 0px 4px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* intro */

main {
    margin-top: 10%;
    display: flex;
    justify-self: center;
    background-color: rgb(163, 200, 228);
    width: 80%;
    min-height: 30%;
    padding: 2%;
    border: 2px solid rgb(151, 158, 165);
    border-radius: 10px;
}
main img{
    width: 70%;
    display: block;
}

#right{
    display: flex;
    justify-content: right;
    width: 50%;
}

#left{
    display: flex;
    display: left;
    width: 50%;
    flex-direction: column;
}

/* projets */

#projets{
    margin-top: 10%;
}

#projets h2 {
    margin-left: 8%;
    margin-bottom: 5%;
}

#projet1, #projet2, #projet3{
    display: flex;
    justify-self: center;
    background-color: rgb(163, 200, 228);
    width: 80%;
    min-height: 30%;
    padding: 2%;
    border: 2px solid rgb(151, 158, 165);
    border-radius: 10px;
    margin-bottom: 5%;
}

